{% extends 'notAuthenticatedLayout.html' %}

{% block title %}
    Umigo: Restaurar contraseña
{% endblock %}

{% block content %}
    <h1>¿Olvidaste tu Contraseña?</h1>
    <p>No te preocupes. Introduce tu correo electrónico y te enviaremos un enlace para restablecerla.</p>
    
    {% if form.errors %}
        {% for key, value in form.errors.items %}
            <strong>{{ value }}</strong>
        {% endfor %}
        <button type="button" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <input type="email" name="email" autocomplete="email" maxlength="254" required placeholder="Correo electrónico">
        <button type="submit">Enviar Enlace de Recuperación</button>
    </form>

    <a href="/users/login/">Volver al inicio de sesión</a>
{% endblock %}