{% extends 'notAuthenticatedLayout.html' %}

{% block title %}
    Umigo: Restaurar contraseña
{% endblock %}

{% block content %}
    <body>
    <!-- Forgot Password Section -->
    <section class="forgot-section position-relative">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="forgot-card">
                        <h1 class="forgot-title">¿Olvidaste tu Contraseña?</h1>
                        <p class="forgot-subtitle">No te preocupes. Introduce tu correo electrónico y te enviaremos un enlace para restablecerla.</p>

                        {% if form.errors %}
                            {% for key, value in form.errors.items %}
                                <strong>{{ value }}</strong>
                            {% endfor %}
                            <button type="button" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        {% endif %}
                        
                        <form method="POST">
                            {% csrf_token %}
                            <div class="mb-4">
                                <label for="email" class="form-label">Correo Electrónico</label>
                                <input type="email" class="form-control" name="email" autocomplete="email" maxlength="254" required placeholder="Correo electrónico">
                            </div>
                            
                            <button type="submit" class="btn btn-submit">Enviar Enlace de Recuperación</button>
                        </form>
                        
                        <div class="back-login">
                            <a href="{% url 'users:login' %}">Volver al Inicio de Sesión</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>

    <!-- Footer -->
    <footer class="footer-section">
        <div class="container">
            <div class="footer-content">
                <div>
                    <img src="img/logo-blanco.png" alt="Umi★Go" class="footer-logo">
                    <p class="mb-0 mt-2" style="font-size: 0.9rem;">"Haz tu camino, vive a tu ritmo"</p>
                </div>
                
                <div class="footer-links">
                    <a href="#">Política de Privacidad</a>
                    <a href="#">Aviso Legal</a>
                </div>
                
                <div class="social-icons">
                    <a href="#"><i class="bi bi-tiktok"></i></a>
                    <a href="#"><i class="bi bi-instagram"></i></a>
                    <span style="font-size: 1rem; margin-left: 10px;">@Umigo_Oficial</span>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    </body>

















  
{% endblock %}